#mlogo {
    padding-top: 100px;
    padding-bottom: 20px;

}
#main {
    margin-top: 90px;

}
#inf {
    padding-right: 30px;
    position: relative;
    right: 0px;
    text-align: right;
    align-items: center;
}
#gmail{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    font-family: sans-serif;
}
#d9 {
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
}
#ndts {
    padding-left: 15px;
    padding-right: 15px;
}
#user {
    bottom: 0%;
    top: 0%;
}
#srch {
    text-align: center;
    padding: 5px 8px 0 16px;
}
#plq {
    padding-top: 20px;
}
.sdk {
    height: 35px;
    margin: 10px;
    border: 1px;
    padding: 0 16px;
    cursor: pointer;
    user-select: none;
}
.sdk:hover {
    background: rgba(0, 0, 0, 0);
	color: #7F7F7F;
	box-shadow: inset 0 0 0 3px #7F7F7F;
}
.pqd {
    bottom: 0%;
    position: absolute;
    width: 100%;
}
#bot {
    text-decoration: none;
}
.spoi {
    border-radius: 42px;
    width: 450px;
    height: 40px;
    border-style: solid;
    border-color: lightgray;
}